# 4주차 과제

## 과제 1
pandas의 groupby, describe, concat, merge 메소드에 대해 알아보세요! #구글링 해보세요 ex) pandas groupby

## 과제 2
iris 데이터를 pandas의 groupby, describe기능을 사용하여 DataFrame을 생성해오세요

In [17]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris') #iris데이터 불러오기
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
# 범주형 변수 species
iris.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [22]:
# 종별 sepal_length, sepal_width, petal_length,petal_width 평균
iris_species = iris.groupby(['species']).mean()
print(iris_species)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [25]:
type(iris_species)

pandas.core.frame.DataFrame

## 과제 3.
네이버, 네이트, zum의 실시간검색어를 1등부터 10등까지 뽑아보고, concat을 통해 한 데이터 프레임으로 완성시켜보세요.

### concat
pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)[source]

In [26]:
# ex
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])    # ignore_index=True

0    a
1    b
0    c
1    d
dtype: object

In [51]:
# module for crawling
from bs4 import BeautifulSoup
import requests

In [42]:
# 데이터 불러올 주소
naver = "http://www.naver.com"
nate = "http://www.nate.com"
zum = "http://zum.com/#!/home"

# 
response1 = requests.get(naver)
response2 = requests.get(nate)
response3 = requests.get(zum)

html1 = response1.text
html2 = response2.text
html3 = response3.text

soup1 = BeautifulSoup(html1, "html.parser")
soup2 = BeautifulSoup(html2, "html.parser")
soup3 = BeautifulSoup(html3, "html.parser")

naver = soup1.find_all("span", class_= 'ah_k')
nate = soup2.find_all("div", class_= 'kwd_list')    # 속성?
zum = soup3.find_all('span', {'class' : 'keyword d_keyword'})

In [43]:
naver[0].text

'안재욱'

In [44]:
# format 구문
nate

[]

In [45]:
zum[0].text

'안재욱'

In [46]:
search_word = []
rank = []
site = []
for i,j in zip(naver[0:10], range(1,11)) :
    search_word.append(i.text)
    rank.append(j)
    site.append('naver')

In [50]:
for i,j in zip("span", range(1,11)) :
    search_word.append(zum[i].text)
    rank.append(j)
    site.append('zum')

TypeError: list indices must be integers or slices, not str