In [2]:
import pandas as pd

In [8]:
pitcher1=pd.read_html('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx')
pitcher2=pd.read_html('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic2.aspx')
pitcher1=pitcher1[0]
pitcher2=pitcher2[0]

In [9]:
pitcher1

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,린드블럼,두산,2.88,26,15,4,0,0,0.789,168 2/3,142,16,38,8,157,56,54,1.07
1,2,윌슨,LG,3.07,26,9,4,0,0,0.692,170,158,11,35,6,149,63,58,1.14
2,3,소사,LG,3.52,27,9,9,0,0,0.500,181 1/3,192,16,28,4,181,83,71,1.21
3,4,이용찬,두산,3.63,25,15,3,0,0,0.833,144,151,14,36,8,102,62,58,1.30
4,5,후랭코프,두산,3.74,28,18,3,0,0,0.857,149 1/3,118,12,55,22,134,64,62,1.16
5,6,브리검,넥센,3.84,31,11,7,0,1,0.611,199,188,19,50,19,175,89,85,1.20
6,7,켈리,SK,4.09,28,12,7,0,0,0.632,158 1/3,152,18,47,13,161,78,72,1.26
7,8,양현종,KIA,4.15,29,13,11,0,0,0.542,184 1/3,199,21,43,2,152,88,85,1.31
8,9,박종훈,SK,4.18,30,14,8,0,0,0.636,159 1/3,158,16,54,20,133,81,74,1.33
9,10,니퍼트,KT,4.25,29,8,8,0,0,0.500,175 2/3,209,26,39,9,165,88,83,1.41
10,11,피어밴드,KT,4.30,27,8,8,0,0,0.500,163 1/3,186,24,38,6,141,90,78,1.37
11,12,문승원,SK,4.60,31,8,9,1,1,0.471,150 2/3,180,24,37,4,122,86,77,1.44
12,13,헥터,KIA,4.60,29,11,10,0,0,0.524,174,209,25,36,4,137,102,89,1.41
13,14,샘슨,한화,4.68,30,13,8,0,0,0.619,161 2/3,144,17,79,5,195,91,84,1.38
14,15,레일리,롯데,4.74,30,11,13,0,0,0.458,178 1/3,180,24,54,18,178,106,94,1.31
15,16,이재학,NC,4.79,29,5,13,0,0,0.278,152 1/3,157,13,49,10,116,87,81,1.35
16,17,한현희,넥센,4.79,30,11,7,0,0,0.611,169,208,22,49,20,105,98,90,1.52
17,18,산체스,SK,4.89,29,8,8,0,1,0.500,145 1/3,161,26,39,7,124,90,79,1.38
18,19,아델만,삼성,5.05,31,8,12,0,0,0.400,171,202,20,54,11,137,101,96,1.50
19,20,베렛,NC,5.28,29,6,10,0,0,0.375,155,178,24,59,9,144,94,91,1.53
20,21,보니야,삼성,5.30,29,7,10,0,0,0.412,168,193,23,63,12,151,111,99,1.52
21,22,금민철,KT,5.41,29,8,12,0,0,0.400,156 1/3,212,19,68,7,79,104,94,1.79
22,23,임찬규,LG,5.77,29,11,11,1,0,0.500,146 2/3,195,23,47,13,125,104,94,1.65
23,24,차우찬,LG,6.09,29,12,10,0,0,0.545,170,177,27,79,10,136,119,115,1.51
24,25,김원중,롯데,6.94,30,8,7,0,0,0.533,145 1/3,173,28,77,11,137,115,112,1.72

In [10]:
pitcher2

,순위,선수명,팀명,ERA,CG,SHO,QS,BSV,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,린드블럼,두산,2.88,0,0,21,0,681,2605,0.226,33,2,5,2,0,10,0
1,2,윌슨,LG,3.07,1,1,20,0,689,2632,0.247,23,3,6,3,1,10,1
2,3,소사,LG,3.52,1,1,18,0,760,2751,0.267,44,1,2,6,1,6,0
3,4,이용찬,두산,3.63,1,0,16,0,608,2237,0.274,24,1,5,7,2,6,0
4,5,후랭코프,두산,3.74,0,0,17,0,621,2624,0.220,17,1,5,3,1,15,0
5,6,브리검,넥센,3.84,2,1,19,0,829,3089,0.249,28,3,5,1,0,4,0
6,7,켈리,SK,4.09,0,0,13,0,674,2497,0.250,28,3,2,4,1,5,2
7,8,양현종,KIA,4.15,3,0,17,0,772,2883,0.278,33,0,9,3,1,5,0
8,9,박종훈,SK,4.18,0,0,10,0,702,2701,0.254,31,3,3,4,0,3,0
9,10,니퍼트,KT,4.25,0,0,20,0,765,2965,0.296,33,4,6,5,2,9,0
10,11,피어밴드,KT,4.30,1,0,16,0,707,2723,0.286,27,1,10,3,0,5,0
11,12,문승원,SK,4.60,0,0,9,0,656,2509,0.296,33,2,5,2,0,4,0
12,13,헥터,KIA,4.60,1,0,18,0,753,2871,0.298,31,0,7,5,2,4,1
13,14,샘슨,한화,4.68,0,0,15,0,703,3047,0.234,26,1,1,3,0,18,2
14,15,레일리,롯데,4.74,0,0,15,0,775,3048,0.263,34,4,7,11,1,4,2
15,16,이재학,NC,4.79,1,0,10,0,658,2740,0.266,27,2,4,4,2,6,0
16,17,한현희,넥센,4.79,0,0,12,0,756,2790,0.307,42,3,5,5,0,6,0
17,18,산체스,SK,4.89,0,0,14,1,632,2467,0.277,21,3,4,0,1,12,0
18,19,아델만,삼성,5.05,0,0,15,0,758,3070,0.296,39,1,5,6,0,7,1
19,20,베렛,NC,5.28,0,0,11,0,698,2682,0.289,31,2,5,9,0,10,1
20,21,보니야,삼성,5.30,0,0,15,0,752,2931,0.290,40,2,8,3,1,9,1
21,22,금민철,KT,5.41,0,0,11,0,720,2695,0.335,30,1,9,4,1,10,0
22,23,임찬규,LG,5.77,0,0,9,0,680,2640,0.321,32,1,7,6,1,6,0
23,24,차우찬,LG,6.09,1,0,13,0,762,2956,0.269,36,4,4,10,2,10,0
24,25,김원중,롯데,6.94,0,0,5,0,681,2717,0.295,37,2,4,3,1,7,0

In [13]:
pitcher = pd.concat([pitcher1,pitcher2],axis=1)
pitcher

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,린드블럼,두산,2.88,26,15,4,0,0,0.789,...,681,2605,0.226,33,2,5,2,0,10,0
1,2,윌슨,LG,3.07,26,9,4,0,0,0.692,...,689,2632,0.247,23,3,6,3,1,10,1
2,3,소사,LG,3.52,27,9,9,0,0,0.500,...,760,2751,0.267,44,1,2,6,1,6,0
3,4,이용찬,두산,3.63,25,15,3,0,0,0.833,...,608,2237,0.274,24,1,5,7,2,6,0
4,5,후랭코프,두산,3.74,28,18,3,0,0,0.857,...,621,2624,0.220,17,1,5,3,1,15,0
5,6,브리검,넥센,3.84,31,11,7,0,1,0.611,...,829,3089,0.249,28,3,5,1,0,4,0
6,7,켈리,SK,4.09,28,12,7,0,0,0.632,...,674,2497,0.250,28,3,2,4,1,5,2
7,8,양현종,KIA,4.15,29,13,11,0,0,0.542,...,772,2883,0.278,33,0,9,3,1,5,0
8,9,박종훈,SK,4.18,30,14,8,0,0,0.636,...,702,2701,0.254,31,3,3,4,0,3,0
9,10,니퍼트,KT,4.25,29,8,8,0,0,0.500,...,765,2965,0.296,33,4,6,5,2,9,0
10,11,피어밴드,KT,4.30,27,8,8,0,0,0.500,...,707,2723,0.286,27,1,10,3,0,5,0
11,12,문승원,SK,4.60,31,8,9,1,1,0.471,...,656,2509,0.296,33,2,5,2,0,4,0
12,13,헥터,KIA,4.60,29,11,10,0,0,0.524,...,753,2871,0.298,31,0,7,5,2,4,1
13,14,샘슨,한화,4.68,30,13,8,0,0,0.619,...,703,3047,0.234,26,1,1,3,0,18,2
14,15,레일리,롯데,4.74,30,11,13,0,0,0.458,...,775,3048,0.263,34,4,7,11,1,4,2
15,16,이재학,NC,4.79,29,5,13,0,0,0.278,...,658,2740,0.266,27,2,4,4,2,6,0
16,17,한현희,넥센,4.79,30,11,7,0,0,0.611,...,756,2790,0.307,42,3,5,5,0,6,0
17,18,산체스,SK,4.89,29,8,8,0,1,0.500,...,632,2467,0.277,21,3,4,0,1,12,0
18,19,아델만,삼성,5.05,31,8,12,0,0,0.400,...,758,3070,0.296,39,1,5,6,0,7,1
19,20,베렛,NC,5.28,29,6,10,0,0,0.375,...,698,2682,0.289,31,2,5,9,0,10,1
20,21,보니야,삼성,5.30,29,7,10,0,0,0.412,...,752,2931,0.290,40,2,8,3,1,9,1
21,22,금민철,KT,5.41,29,8,12,0,0,0.400,...,720,2695,0.335,30,1,9,4,1,10,0
22,23,임찬규,LG,5.77,29,11,11,1,0,0.500,...,680,2640,0.321,32,1,7,6,1,6,0
23,24,차우찬,LG,6.09,29,12,10,0,0,0.545,...,762,2956,0.269,36,4,4,10,2,10,0
24,25,김원중,롯데,6.94,30,8,7,0,0,0.533,...,681,2717,0.295,37,2,4,3,1,7,0

In [14]:
pitcher.to_excel('KBO_record_pitcher.xlsx', encoding='utf-8', index=False)

In [18]:
pos = pd.read_csv('batter_pos_en.csv',encoding="euc-kr")
pos = pos['']

In [20]:
pos.to_excel('batter_final_en.xlsx', encoding='utf-8', index=False)

In [23]:
pd.read_xlsx('batter_final_en.xlsx',encoding="euc-kr")

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [22]:
defense = pd.read_html('https://www.koreabaseball.com/Record/Player/HitterDetail/Daily.aspx?playerId=76232')

In [27]:
defense[0]

,3월,상대,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2
0,03.24,삼성,0.75,4,2,3,2,0,0,0,0,0,0,0,0,0.0,0.750
1,03.25,삼성,0.50,4,0,2,0,0,0,0,0,0,0,0,0,1.0,0.625
2,03.27,롯데,0.00,3,0,0,0,0,0,0,0,0,0,1,1,0.0,0.455
3,03.28,롯데,0.25,4,0,1,0,0,0,1,0,0,0,0,0,0.0,0.400
4,03.29,롯데,1.00,3,1,3,1,0,0,0,0,0,1,0,0,0.0,0.500
5,03.30,KT,0.50,4,1,2,1,0,1,3,0,0,1,0,0,0.0,0.500
6,03.31,KT,0.50,2,1,1,0,0,0,0,0,0,1,1,0,0.0,0.500
7,합계,0.500,24.00,5,12,4,0,1,4,0,0,3,2,1,1,0.5,NaN

In [37]:
defense[0].index.name = 'number'

In [46]:
defense[0][7:]

KeyError: 0

In [45]:
defense=defense[0]
defense[0:4]

KeyError: 0

In [35]:
defense[0].index.name

KeyError: 7

In [25]:
defense

[      3월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  GDP  \
 0  03.24     삼성   0.75   4   2  3   2   0   0    0   0   0   0    0   0  0.0
 1  03.25     삼성   0.50   4   0  2   0   0   0    0   0   0   0    0   0  1.0
 2  03.27     롯데   0.00   3   0  0   0   0   0    0   0   0   0    1   1  0.0
 3  03.28     롯데   0.25   4   0  1   0   0   0    1   0   0   0    0   0  0.0
 4  03.29     롯데   1.00   3   1  3   1   0   0    0   0   0   1    0   0  0.0
 5  03.30     KT   0.50   4   1  2   1   0   1    3   0   0   1    0   0  0.0
 6  03.31     KT   0.50   2   1  1   0   0   0    0   0   0   1    1   0  0.0
 7     합계  0.500  24.00   5  12  4   0   1   4    0   0   3   2    1   1  0.5

     AVG2
 0  0.750
 1  0.625
 2  0.455
 3  0.400
 4  0.500
 5  0.500
 6  0.500
 7    NaN  ,
        4월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   04.01     KT  0.333   3   1  1   0   0   0    0   0   0   1    0   0
 1   04.03     LG  0.600   5   1  3   2   0   0    1   1   0   0    0   0
 2   04.04     LG  0.000   4   0  0   0   0   0    0   0   0   1    0   1
 3   04.07     NC  1.000   1   1  1   0   0   0    0   0   0   0    1   0
 4   04.08     NC  0.000   1   0  0   0   0   0    0   0   0   1    0   1
 5   04.10     삼성  0.250   4   0  1   0   0   0    1   0   0   0    1   1
 6   04.11     삼성  0.400   5   2  2   0   0   0    0   1   0   0    0   1
 7   04.12     삼성  0.500   4   2  2   0   0   1    1   0   0   0    0   0
 8   04.13     넥센  0.500   4   1  2   0   0   0    1   0   0   0    0   0
 9   04.14     넥센  0.000   4   0  0   0   0   0    0   0   0   0    0   2
 10  04.15     넥센  0.000   2   0  0   0   0   0    0   0   0   0    0   0
 11  04.17     한화  0.000   2   0  0   0   0   0    0   0   0   0    0   0
 12  04.18     한화      -   0   0  0   0   0   0    0   0   0   0    0   0
 13  04.19     한화  0.500   4   1  2   0   0   0    1   0   0   0    0   1
 14  04.20    KIA  0.500   2   1  1   0   0   0    1   1   0   1    1   0
 15  04.21    KIA  1.000   1   1  1   1   0   0    2   0   0   0    0   0
 16  04.22    KIA  0.000   2   0  0   0   0   0    0   0   0   1    0   1
 17  04.24     SK  0.600   5   2  3   2   0   1    2   0   0   0    0   0
 18  04.25     SK  0.500   4   1  2   0   0   1    1   0   0   1    0   0
 19  04.26     SK  0.500   4   0  2   1   0   0    1   0   0   0    0   1
 20  04.27     NC  1.000   1   0  1   0   0   0    1   0   0   1    0   0
 21  04.28     NC  0.000   4   0  0   0   0   0    0   0   0   0    0   0
 22  04.29     NC  0.500   4   1  2   0   0   0    0   0   0   1    0   0
 23     합계  0.371     70  15  26  6   0   3  13    3   0   8   3    9   0

       GDP   AVG2
 0   0.000  0.481
 1   0.000  0.500
 2   0.000  0.444
 3   0.000  0.459
 4   0.000  0.447
 5   0.000  0.429
 6   0.000  0.426
 7   0.000  0.431
 8   0.000  0.436
 9   0.000  0.407
 10  0.000  0.393
 11  0.000  0.381
 12  0.000  0.381
 13  0.000  0.388
 14  0.000  0.391
 15  0.000  0.400
 16  0.000  0.389
 17  0.000  0.403
 18  0.000  0.407
 19  0.000  0.412
 20  0.000  0.419
 21  0.000  0.400
 22  0.000  0.404
 23  0.404    NaN  ,
        5월     상대    AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   05.01     KT   0.250   4   0  1   0   0   0    1   0   0   0    0   1
 1   05.03     KT   0.400   5   1  2   0   0   1    1   0   0   0    0   0
 2   05.04     LG   0.600   5   2  3   2   0   1    4   0   0   0    0   0
 3   05.05     LG   0.250   4   0  1   0   0   0    0   0   0   0    0   0
 4   05.06     LG   0.200   5   1  1   0   0   0    0   0   0   0    0   0
 5   05.08    KIA   1.000   3   0  3   0   0   0    0   0   0   0    0   0
 6   05.09    KIA   0.250   4   1  1   0   0   0    1   0   0   0    0   0
 7   05.10    KIA   0.500   6   0  3   0   0   0    0   0   0   0    0   2
 8   05.13     넥센   0.000   2   0  0   0   0   0    0   0   0   1    0   0
 9   05.15     SK   0.500   4   1  2   0   0   1    2   0   0   0    0   0
 10  05.16     SK   0.333   3   1  1   0   0   0    0   0   0   0    0   1
 11  05.18     롯데   0.333   3   1  1   0   0   0    1   0   0   1    0   1
 12  05.19     롯데   0.000   2   0  0   0   0   0    0   0   0   0    0   1
 13  05.20     롯데   0.500   4   1  2   0   0   0    1   0   0   1    0   1
 14  05.22     한화   0.000   4   1  0   0   0   0    0   0   0   0    1   1
 15  05.23     한화   1.000   2   2  2   0   0   1    1   0   0   0    0   0
 16  05.24     한화   0.250   4   1  1   1   0   0    0   0   0   0    0   1
 17  05.25     삼성   0.250   4   0  1   1   0   0    1   0   0   0    0   0
 18  05.26     삼성   0.400   5   1  2   0   0   0    1   0   0   0    0   0
 19  05.27     삼성   0.500   4   1  2   0   0   1    1   0   0   0    0   0
 20  05.30     SK   0.667   3   2  2   1   0   0    1   0   0   1    0   0
 21  05.31     SK   0.250   4   0  1   0   0   0    0   0   0   0    0   0
 22     합계  0.381  84.000  17  32  5   0   5  16    0   0   4   1    9   1

       GDP   AVG2
 0   0.000  0.398
 1   0.000  0.398
 2   0.000  0.407
 3   0.000  0.402
 4   0.000  0.393
 5   0.000  0.408
 6   0.000  0.403
 7   0.000  0.408
 8   1.000  0.402
 9   0.000  0.404
 10  0.000  0.403
 11  0.000  0.401
 12  0.000  0.396
 13  0.000  0.399
 14  0.000  0.388
 15  0.000  0.396
 16  0.000  0.392
 17  0.000  0.389
 18  0.000  0.389
 19  0.000  0.392
 20  0.000  0.397
 21  0.000  0.393
 22  0.393    NaN  ,
        6월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   06.01    KIA  0.750   4   1  3   0   0   1    2   0   0   0    0   0
 1   06.02    KIA  1.000   3   3  3   1   0   1    1   0   0   1    0   0
 2   06.03    KIA  0.000   5   0  0   0   0   0    0   0   0   1    0   0
 3   06.05     넥센  0.250   4   1  1   0   0   1    1   0   0   0    0   1
 4   06.06     넥센  0.600   5   1  3   1   0   0    0   0   0   0    0   0
 5   06.07     넥센  0.333   3   1  1   0   1   0    1   0   0   0    1   1
 6   06.08     NC      -   0   0  0   0   0   0    1   0   0   0    0   0
 7   06.09     NC  0.333   3   0  1   0   0   0    1   0   0   1    0   0
 8   06.10     NC  0.000   3   0  0   0   0   0    0   0   0   1    0   0
 9   06.12     KT  0.500   4   1  2   1   0   0    1   0   0   0    0   0
 10  06.13     KT  0.667   3   2  2   0   0   2    3   0   0   1    0   0
 11  06.14     KT  0.333   3   0  1   0   0   0    0   0   0   1    0   1
 12  06.16     한화  1.000   2   2  2   1   0   1    1   0   0   2    0   0
 13  06.17     한화  0.000   3   0  0   0   0   0    0   0   0   1    0   0
 14  06.19     넥센  0.000   4   0  0   0   0   0    0   0   0   0    0   0
 15  06.20     넥센  0.000   1   0  0   0   0   0    0   0   0   0    0   0
 16  06.21     넥센  0.200   5   1  1   0   0   1    1   0   0   0    0   0
 17  06.22     삼성  0.333   3   0  1   0   0   0    0   0   0   0    0   0
 18  06.23     삼성  0.500   4   1  2   1   0   0    0   0   0   1    0   0
 19  06.26     NC  0.500   4   1  2   0   0   1    3   0   0   0    0   0
 20  06.27     NC  0.000   4   0  0   0   0   0    0   0   0   0    0   0
 21  06.28     NC  0.000   2   1  0   0   0   0    0   0   0   1    0   0
 22  06.29    KIA  0.250   4   0  1   0   0   0    1   0   0   1    0   0
 23  06.30    KIA  0.400   5   1  2   0   0   0    2   0   0   0    0   0
 24     합계  0.346     81  17  28  5   1   8  19    0   0  12   1    3   5

       GDP   AVG2
 0   0.000  0.401
 1   0.000  0.411
 2   0.000  0.400
 3   1.000  0.397
 4   0.000  0.402
 5   1.000  0.401
 6   0.000  0.401
 7   0.000  0.400
 8   0.000  0.394
 9   0.000  0.396
 10  0.000  0.400
 11  0.000  0.399
 12  0.000  0.405
 13  0.000  0.399
 14  0.000  0.392
 15  0.000  0.390
 16  1.000  0.386
 17  0.000  0.386
 18  0.000  0.388
 19  0.000  0.389
 20  1.000  0.383
 21  0.000  0.380
 22  0.000  0.378
 23  1.000  0.378
 24  0.378    NaN  ,
        7월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   07.04     롯데  0.750   4   1  3   0   0   0    1   0   0   0    0   1
 1   07.05     롯데  1.000   1   0  1   0   0   0    0   0   0   1    0   0
 2   07.06     삼성  0.400   5   1  2   1   0   0    1   0   0   0    0   1
 3   07.07     삼성  0.250   4   0  1   0   0   0    1   0   0   0    0   0
 4   07.08     삼성  0.000   2   0  0   0   0   0    0   0   0   0    1   0
 5   07.10     KT  0.000   2   0  0   0   0   0    0   0   0   1    0   0
 6   07.11     KT  0.600   5   0  3   0   0   0    1   0   0   0    0   0
 7   07.12     KT  0.000   3   0  0   0   0   0    0   0   0   0    0   0
 8   07.17     롯데      -   0   0  0   0   0   0    0   0   0   0    0   0
 9   07.18     롯데  0.250   4   1  1   0   0   1    1   0   0   0    0   0
 10  07.19     롯데  0.250   4   1  1   0   0   0    0   0   0   0    0   1
 11  07.20     LG  0.500   6   1  3   0   0   0    1   0   0   0    0   0
 12  07.21     LG  0.500   2   1  1   1   0   0    1   0   0   0    0   0
 13  07.22     LG  0.250   4   1  1   0   0   0    0   1   0   0    0   1
 14  07.24     SK  0.667   3   1  2   0   0   1    1   0   0   1    0   0
 15  07.25     SK  0.000   2   0  0   0   0   0    0   0   0   0    0   1
 16  07.26     SK  0.333   3   0  1   0   0   0    0   0   0   0    0   0
 17  07.27     한화  0.250   4   0  1   1   0   0    1   0   0   0    0   0
 18  07.28     한화  0.600   5   1  3   1   0   1    3   0   0   0    0   0
 19  07.29     한화      -   0   0  0   0   0   0    0   0   0   0    0   0
 20  07.31     LG  0.500   2   1  1   0   0   0    0   0   0   2    0   0
 21     합계  0.385     65  10  25  4   0   3  12    1   0   5   1    5   4

      GDP   AVG2
 0   0.00  0.384
 1   0.00  0.386
 2   0.00  0.387
 3   2.00  0.385
 4   0.00  0.382
 5   1.00  0.379
 6   1.00  0.383
 7   0.00  0.379
 8   0.00  0.379
 9   0.00  0.377
 10  0.00  0.375
 11  0.00  0.378
 12  0.00  0.379
 13  0.00  0.377
 14  0.00  0.380
 15  0.00  0.377
 16  0.00  0.377
 17  0.00  0.375
 18  0.00  0.379
 19  0.00  0.379
 20  0.00  0.380
 21  0.38    NaN  ,
        8월     상대    AVG1  AB  R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   08.01     LG   0.000   2  2  0   0   0   0    2   1   0   1    0   0
 1   08.02     LG   0.000   1  0  0   0   0   0    0   0   0   0    0   0
 2   08.04    KIA   0.000   3  0  0   0   0   0    0   0   0   0    0   1
 3   08.05    KIA   0.667   3  0  2   0   0   0    0   0   0   0    0   0
 4   08.07     한화   0.000   1  2  0   0   0   0    0   1   0   3    0   0
 5   08.08     한화   0.500   4  0  2   1   0   0    0   0   0   0    0   0
 6   08.09     KT   0.000   4  1  0   0   0   0    0   0   0   0    1   1
 7   08.10     KT   0.000   3  0  0   0   0   0    0   0   0   0    0   0
 8   08.12     롯데   0.333   6  0  2   0   0   0    0   0   0   0    0   0
 9   08.14     SK   0.500   4  1  2   1   0   0    0   0   0   0    0   1
 10  08.15     SK   0.500   2  0  1   0   0   0    0   0   0   0    0   0
 11  08.16     넥센   0.000   4  0  0   0   0   0    0   0   0   0    0   0
 12     합계  0.243  37.000   6  9  2   0   0   2    2   0   4   1    3   0

       GDP   AVG2
 0   0.000  0.377
 1   0.000  0.376
 2   0.000  0.373
 3   0.000  0.375
 4   0.000  0.374
 5   0.000  0.376
 6   0.000  0.371
 7   0.000  0.368
 8   0.000  0.368
 9   0.000  0.369
 10  0.000  0.370
 11  0.000  0.366
 12  0.366    NaN  ,
        9월     상대   AVG1  AB   R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO  \
 0   09.05    KIA  0.000   4   1  0   0   0   0    0   0   0   0    1   0
 1   09.06     삼성  0.000   3   0  0   0   0   0    0   0   0   1    1   1
 2   09.07     삼성  0.400   5   1  2   0   0   1    2   0   0   0    0   0
 3   09.08     SK  0.000   4   0  0   0   0   0    0   0   0   0    0   2
 4   09.12     롯데  0.000   4   1  0   0   0   0    0   0   0   0    0   0
 5   09.13     KT  0.333   3   1  1   0   0   0    1   0   0   1    0   0
 6   09.14     KT  0.000   3   0  0   0   0   0    0   0   0   1    0   0
 7   09.15     NC  0.500   2   0  1   0   0   0    0   0   0   0    0   0
 8   09.16     NC  0.250   4   0  1   0   0   0    0   0   0   0    0   1
 9   09.18     넥센      -   0   0  0   0   0   0    0   0   0   0    0   0
 10  09.19     넥센  0.000   1   0  0   0   0   0    0   0   0   0    0   0
 11  09.20     LG  0.250   4   2  1   0   0   0    0   0   0   1    0   1
 12  09.21     LG  0.000   5   1  0   0   0   0    0   0   0   0    0   1
 13  09.22     NC  0.800   5   2  4   1   0   0    2   0   0   1    0   0
 14  09.23     NC  1.000   1   0  1   0   0   0    0   0   0   0    0   0
 15  09.25     넥센  0.333   3   2  1   1   0   0    1   0   0   1    1   0
 16  09.28     한화  0.500   2   0  1   0   0   0    0   0   0   1    0   0
 17  09.29     LG  0.750   4   2  3   1   0   1    2   0   0   0    1   0
 18     합계  0.281     57  13  16  3   0   2   8    0   0   7   4    6   2

       GDP   AVG2
 0   0.000  0.362
 1   0.000  0.359
 2   1.000  0.359
 3   0.000  0.355
 4   0.000  0.352
 5   0.000  0.352
 6   0.000  0.349
 7   0.000  0.350
 8   0.000  0.349
 9   0.000  0.349
 10  0.000  0.348
 11  0.000  0.347
 12  0.000  0.342
 13  0.000  0.348
 14  0.000  0.350
 15  0.000  0.350
 16  1.000  0.350
 17  0.000  0.354
 18  0.354    NaN  ,
      10월     상대   AVG1  AB  R  H  2B  3B  HR  RBI  SB  CS  BB  HBP  SO    GDP  \
 0  10.06     LG   0.00   2  0  0   0   0   0    0   0   0   2    0   1  0.000
 1  10.07    KIA   0.40   5  0  2   0   0   0    1   0   0   0    0   1  0.000
 2  10.10     SK   0.00   2  0  0   0   0   0    0   0   0   0    0   0  0.000
 3  10.12     NC   0.80   5  1  4   0   0   1    2   0   0   0    0   1  0.000
 4  10.13     KT   0.75   4  0  3   0   0   0    0   0   0   0    0   1  0.000
 5  10.14     롯데   0.00   3  0  0   0   0   0    0   0   0   0    0   0  0.000
 6     합계  0.429  21.00   1  9  0   0   1   3    0   0   2   0    4   0  0.358

     AVG2
 0  0.352
 1  0.353
 2  0.351
 3  0.356
 4  0.360
 5  0.358
 6    NaN  ]

In [26]:
defense[7]

,10월,상대,AVG1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,AVG2
0,10.06,LG,0.00,2,0,0,0,0,0,0,0,0,2,0,1,0.000,0.352
1,10.07,KIA,0.40,5,0,2,0,0,0,1,0,0,0,0,1,0.000,0.353
2,10.10,SK,0.00,2,0,0,0,0,0,0,0,0,0,0,0,0.000,0.351
3,10.12,NC,0.80,5,1,4,0,0,1,2,0,0,0,0,1,0.000,0.356
4,10.13,KT,0.75,4,0,3,0,0,0,0,0,0,0,0,1,0.000,0.360
5,10.14,롯데,0.00,3,0,0,0,0,0,0,0,0,0,0,0,0.000,0.358
6,합계,0.429,21.00,1,9,0,0,1,3,0,0,2,0,4,0,0.358,NaN