# 문제1
네이버와 다음 홈페이지를 크롤링하여 아래와 같은 데이터프레임을 생성해주세요

In [2]:
df

      date    hm   site  rank search_word
0   190111  0357  naver     1         김예령
1   190111  0357  naver     2         마약왕
2   190111  0357  naver     3         김보름
3   190111  0357  naver     4     블레이드 러너
4   190111  0357  naver     5         신아영
5   190111  0357  naver     6         txt
6   190111  0357  naver     7         윤소희
7   190111  0357  naver     8         고주원
8   190111  0357  naver     9         용준형
9   190111  0357  naver    10         손예진
10  190111  0357   daum     1      김예령 기자
11  190111  0357   daum     2         윤소희
12  190111  0357   daum     3       서울의료원
13  190111  0357   daum     4         송재림
14  190111  0357   daum     5         김진아
15  190111  0357   daum     6         고주원
16  190111  0357   daum     7         김보름
17  190111  0357   daum     8         손예진
18  190111  0357   daum     9  인도 아랍 에미리트
19  190111  0357   daum    10         최화정

# 문제2

아래 example변수에서 BeautifulSoup모듈을 활용해 정유안1, 2를 추출해보자  
*단, find_all문과 a태그를 사용하여야한다.  
*권장 사용줄 수: 3줄(모듈 import포함 4줄)

In [2]:
example = '''
<li class="d_rank">
<span class="r_num num_1">1</span>
<a class="d_btn_keyword" data-order="1" href="http://search.zum.com/search.zum?query=%EC%A0%95%EC%9C%A0%EC%95%88&amp;qm=g_real1.top&amp;real1_id=1&amp;method=uni&amp;option=accu" title="정유안">
<span class="keyword d_keyword">정유안1</span>
</a>
<a class="d_btn_keyword d_ready" data-order="1" href="http://search.zum.com/search.zum?query=%EC%A0%95%EC%9C%A0%EC%95%88&amp;qm=g_real1.top&amp;real1_id=1&amp;method=uni&amp;option=accu" style="top:22px" title="정유안">
<span class="keyword d_keyword">정유안2</span>
</a>
</li>
'''

In [8]:
#여기에 module import를 포함하여 4줄로 코드를 작성해보세요

In [6]:
#셀을 실행시켰을때 다음과 같은 결과가 나오면 좋겠습니다!
[output[0].text, output[1].text]

['\n정유안1\n', '\n정유안2\n']

## 문제2과 관련된 학습
* replace(내장 함수)
* list comprehension(리스트 내포)
* 정규표현식

에 대해서 찾아보세요!
    
> [점프투파이썬](https://wikidocs.net/book/1)에 가시면 찾으실 수 있습니다!  
> 세션에서 다루지 않을 예정이지만, 꼭 공부하셔야 할 것들입니다!

In [28]:
#replace 함수와 list comprehension을 통해
#데이터를 정제하고, 코드를 간결하게 작성할 수 있습니다.
최종출력물 = [i.text.replace('\n', '') for i in output]
최종출력물

['정유안1', '정유안2']

# 문제3
줌 실시간검색어 1등부터 20등까지의 모든 href를 추출하고, 리스트 혹은 데이터프레임을 생성해 보세요!

In [5]:
#예시

['http://search.zum.com/search.zum?query=%EA%B3%A0%EC%A3%BC%EC%9B%90&qm=g_real1.top&real1_id=1&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=txt&qm=g_real1.top&real1_id=2&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EA%B9%80%EC%83%88%EB%A1%A0&qm=g_real1.top&real1_id=3&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%97%B0%EC%95%A0%EC%9D%98%20%EB%A7%9B%20%EA%B9%80%EC%A7%84%EC%95%84&qm=g_real1.top&real1_id=4&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EB%B9%85%ED%9E%88%ED%8A%B8&qm=g_real1.top&real1_id=5&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%ED%8C%94%EB%9D%BC%EC%9A%B0&qm=g_real1.top&real1_id=6&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EA%B9%80%EC%A0%95%ED%9B%88&qm=g_real1.top&real1_id=7&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%9D%B8%EC%A0%9C%20%EC%9E%90%EC%9E%91%EB%82%98%EB%AC%B4%EC%88%B2&qm=g_real1.top&real1_id=8&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EA%B9%80%EC%98%88%EB%A0%B9&qm=g_real1.top&real1_id=9&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%9C%A4%EC%86%8C%ED%9D%AC&qm=g_real1.top&real1_id=10&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%ED%98%84%EB%B9%88%20%EC%86%90%EC%98%88%EC%A7%84&qm=g_real1.top&real1_id=11&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%97%B0%EC%A4%80&qm=g_real1.top&real1_id=12&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EB%A5%98%EB%8D%95%ED%99%98&qm=g_real1.top&real1_id=13&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%8B%A0%EC%95%84%EC%98%81&qm=g_real1.top&real1_id=14&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EA%B9%80%EB%B3%B4%EB%A6%84&qm=g_real1.top&real1_id=15&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%A0%95%EC%98%81%EC%A3%BC%20%EA%B9%80%EC%84%B1%EC%9B%90&qm=g_real1.top&real1_id=16&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%8B%A0%EC%9D%98%ED%80%B4%EC%A6%88&qm=g_real1.top&real1_id=17&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EC%95%84%EC%8B%9C%EC%95%88%EC%BB%B5&qm=g_real1.top&real1_id=18&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%EA%B9%80%EC%9E%AC%EC%9A%B1&qm=g_real1.top&real1_id=19&method=uni&option=accu',
 'http://search.zum.com/search.zum?query=%ED%99%A9%ED%9B%84%EC%9D%98%20%ED%92%88%EA%B2%A9&qm=g_real1.top&real1_id=20&method=uni&option=accu']