# Jupyter에서 자주 쓰이는 단축키
- Enter : 셀에 진입
- Esc : 셀을 빠져나감


-- 셀에 빠져나간후
- M : 셀을 마크다운으로 바꿔줌
- Y : 셀을 코드로 바꿔줌
- D+D : 셀 제거
- Z : 되돌리기(실수로 제거한 셀을 되돌릴 수 있음)
- B : 선택한 셀 아래에 셀을 추가
- A : 선택한 셀 위에 셀을 추가

-- 코드에서
- ctrl + enter : 셀을 실행
- shift + enter : 셀을 실행하고, 다음 셀로 이동(다음 셀이 없다면 자동 생성)
- shift + tab : 함수의 상세내용(ex : 인자, 예시 등)을 알고 싶을때

In [7]:
#module importing
import requests
from bs4 import BeautifulSoup
import pandas as pd

# 1주차 과제 풀이

![이미지](./가나다.png)

In [8]:
url = "http://zum.com/#!/home"
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, "html.parser")

In [9]:
#답안 1
raw1 = soup.find_all('span', {'class' : 'keyword d_keyword'})
keyword_raw1 = [i.text for i in raw1]
keyword1 = [keyword_raw1[j] for j in range(40) if j%2 == 1]
keyword1

['고주원',
 '김새론',
 'txt',
 '연애의 맛 김진아',
 '팔라우',
 '윤소희',
 '김정훈',
 '신아영',
 '인제 자작나무숲',
 '빅히트',
 '현빈 손예진',
 '김예령',
 '김보름',
 '신의퀴즈',
 '송재림',
 '류덕환',
 '아시안컵',
 '연준',
 '심석희',
 '남자친구']

In [49]:
#답안2 집에가셔서 생각해보셨으면 좋겠습니다!
raw2 = soup.find_all('a', {'class' : 'd_btn_keyword d_ready'})
keyword_raw2 = [i.text for i in raw2]
keyword2 = [j.replace('\n','') for j in keyword_raw2]
keyword2

['정유안',
 '김형은',
 '키디비',
 '2019 스타벅스 럭키백',
 '김예령',
 '롯데리아 핫크리스피버거',
 '이재명',
 '블랙넛',
 '성인애착유형테스트',
 '마스크',
 '박은영 아나운서',
 '사필귀정',
 '왜그래 풍상씨',
 '심석희 성폭행',
 '텔루스',
 '캄보디아',
 '건양대',
 '장경희',
 '경기방송',
 '황미나']

# BeautifulSoup 복습

In [ ]:
url = "원하는 주소"
response = requests.get(url) #원하는 주소에 요청
html = response.text #HTML코드를 받음
soup = BeautifulSoup(html, "html.parser") #변수 html을 BeautifulSoup모듈이 다룰수 있는 타입으로 바꿈

In [ ]:
#원하는 속성을 가진 특정 태그를 검색
#1개
soup.find("태그명", {'속성' : '내용'}) #속성으로 많이 채용되는 것은 class
#2개 이상
soup.find_all("태그명", {'속성' : '내용'})

### 아래의 HTML코드에서 BeautifulSoup을 사용해  
### 다음과 같은 문장만 뽑으려면 어떻게 해야할까?
> 'span 태그는 다른 텍스트와 구별하기 위해 사용하는데, 배경색은 글자가 있는곳만 적용합니다.'

In [ ]:
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <style type="text/css">
    body {
        background-color: black
    }
    #div {
        background-color: #007777
    }
    #span {
        background-color: #555555
    }

    .test1{
      background-color: white;
    }
    .test2{
      background-color: red;
    }
</style>
<body>
    <div id="div">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>

    <br>

    <span id="span">
span 태그는 다른 텍스트와 구별하기 위해 사용하는데, 배경색은 글자가 있는곳만 적용합니다.
    </span>

    <br><br>
    <!--div 내 span 사용 예시  -->
    <div class="test1">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
      <span class="test2"> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</span>
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>


</body>
</html>

In [98]:
#다음과 같은 답이 나와야한다!

'\nspan 태그는 다른 텍스트와 구별하기 위해 사용하는데, 배경색은 글자가 있는곳만 적용합니다.\n    '

hint : 
1. 위의 html코드를 변수화하고 
2. bs Module이 읽을 수 있게 바꾼 후 
3. span태그를 찾고  
4. text를 뽑아낸다.

### find의 역할 1. HTML코드의 범위축소

바디 태그가 2개나 있어서 한가지 바디 태그를 선택해야 한다.

In [102]:
example = '''<body>
    <div id="div">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>

    <br>

    <span id="span">
        span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
        배경색은 글자가 있는곳만 적용합니다.
    </span>

    <br><br>
    <!--div 내 span 사용 예시  -->
    <div class="test1">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
      <span class="test2"> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</span>
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>


</body>

<body>
    <div id="div">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>

    <br>

    <span id="span">
        span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
        배경색은 글자가 있는곳만 적용합니다.
    </span>

    <br><br>
    <!--div 내 span 사용 예시  -->
    <div class="test1">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
      <span class="test2"> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</span>
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>


</body>'''

In [104]:
a = BeautifulSoup(example,'html.parser')
b = a.find('body')
b

<body>
<div id="div">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>
<br/>
<span id="span">
        span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
        배경색은 글자가 있는곳만 적용합니다.
    </span>
<br/><br/>
<!--div 내 span 사용 예시  -->
<div class="test1">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
      <span class="test2"> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</span>
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>
</body>

In [105]:
#범위를 축소해서 원하는 태그를 더 수월하게 추출해 낼 수 있음.
b.find('div', {'class' : 'test1'})

<div class="test1">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
      <span class="test2"> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</span>
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>

In [80]:
b.find('div', id='div')

<div id="div">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>

### find : 2. HTML코드의 속성추출

<a class="test2" href='https://naver.com''> 태그의 속성뽑기

In [4]:
example2 = '''
<body>
    <div id="div">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>

    <br>

    <span id="span">
        span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
        배경색은 글자가 있는곳만 적용합니다.
    </span>

    <br><br>
    <!--div 내 span 사용 예시  -->
    <div class="test1">
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.

      <a class="test2" href='https://naver.com'> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</a>
      
      div 태그는 콘텐츠의 영역이나 그룹화를 할때 사용!
      배경색은 레이아웃 가로 모두에 적용 됩니다.
    </div>


</body>'''

In [5]:
c = BeautifulSoup(example2,'html.parser')
d = c.find('a', class_='test2')
d

<a class="test2" href="https://naver.com"> span 태그는 다른 텍스트와 구별하기 위해 사용하는데,
      배경색은 글자가 있는곳만 적용합니다.</a>

In [108]:
d['href']

'https://naver.com'

In [109]:
d['class']
#주로 href의 속성을 많이 뽑아서 다음 사이트로 이동할 때 활용한다.

['test2']

# Pandas

1주차 과제로 얻은 리스트keyword1와 range(1,21)을 활용한 데이터프레임 생성

In [60]:
#생성
df = pd.DataFrame({'keyword' : keyword1, 'rank' : range(1,21)}) #feature명 : data 를 dict형태로 나열.
#R에서는 1:20을 쓰면되지만, PYthon은 할 수 없기 떄문에 range(1,21)이나 [1,2,...,20]을 써야함

In [61]:
df.head()

         keyword  rank
0            정유안     1
1            김형은     2
2  2019 스타벅스 럭키백     3
3            키디비     4
4            김예령     5

In [63]:
#date와 time, Portal열을 추가
import time
df['date'] = time.strftime("%y%m%d",time.localtime())
df['time'] = time.strftime("%H%M",time.localtime())
df['Portal'] = 'Zum'

In [111]:
df.head()

         keyword  rank    date  time Portal
0         현빈 손예진     1  190110  1626    Zum
1            정유안     2  190110  1626    Zum
2            김예령     3  190110  1626    Zum
3  2019 스타벅스 럭키백     4  190110  1626    Zum
4            키디비     5  190110  1626    Zum

In [118]:
df.to_csv('./week2.csv', index=False)

In [120]:
df1 = pd.read_csv('./week2.csv')
df1.head()

         keyword  rank    date  time Portal
0         현빈 손예진     1  190110  1626    Zum
1            정유안     2  190110  1626    Zum
2            김예령     3  190110  1626    Zum
3  2019 스타벅스 럭키백     4  190110  1626    Zum
4            키디비     5  190110  1626    Zum

## 최종코드

In [121]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

url = "http://zum.com/#!/home"
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, "html.parser")

raw1 = soup.find_all('span', {'class' : 'keyword d_keyword'})
keyword_raw1 = [i.text for i in raw1]
keyword1 = [keyword_raw1[j] for j in range(40) if j%2 == 1]

#생성
df = pd.DataFrame({'keyword' : keyword1, 'rank' : range(1,21)})
df['date'] = time.strftime("%y%m%d",time.localtime())
df['time'] = time.strftime("%H%M",time.localtime())
df['Portal'] = 'Zum'

df.to_csv('./week2.csv', index=False)
df

          keyword  rank    date  time Portal
0             손예진     1  190110  1758    Zum
1      아이돌 아버지 셰프     2  190110  1758    Zum
2             김예령     3  190110  1758    Zum
3    롯데리아 핫크리스피버거     4  190110  1758    Zum
4           현빈 나이     5  190110  1758    Zum
5           메간 폭스     6  190110  1758    Zum
6             키디비     7  190110  1758    Zum
7   2019 스타벅스 럭키백     8  190110  1758    Zum
8             정유안     9  190110  1758    Zum
9             김형은    10  190110  1758    Zum
10        심석희 성폭행    11  190110  1758    Zum
11      한국 키르기스스탄    12  190110  1758    Zum
12            블랙넛    13  190110  1758    Zum
13      성인애착유형테스트    14  190110  1758    Zum
14            여준형    15  190110  1758    Zum
15             협상    16  190110  1758    Zum
16         자동차세연납    17  190110  1758    Zum
17          하이라이즈    18  190110  1758    Zum
18           캄보디아    19  190110  1758    Zum
19          건양대학교    20  190110  1758    Zum

### 추천 참고사이트

- 파이썬 기초
https://wikidocs.net/book/1

- HTML 구조
https://opentutorials.org/course/   
(따라하시지않고 __웹사이트 만들기__까지 영상을 보시기만 하셔도 도움됩니다!)

- 판다스 기초  
https://doorbw.tistory.com/172  
https://cafe.naver.com/boazbigdata/3859 (갓형률님께서 만들어주신 파이썬 베이직)

## 문제1
#### 네이버와 다음 홈페이지를 크롤링하여 아래와 같은 데이터프레임을 생성해주세요

In [12]:
df

      date    hm   site  rank search_word
0   190111  0132  naver     1         txt
1   190111  0132  naver     2         김예령
2   190111  0132  naver     3          연준
3   190111  0132  naver     4         고주원
4   190111  0132  naver     5     연애의맛김성원
5   190111  0132  naver     6     정영주 김성원
6   190111  0132  naver     7         프리즌
7   190111  0132  naver     8         빅히트
8   190111  0132  naver     9     에이핑크 응응
9   190111  0132  naver    10         김새론
10  190111  0132   daum     1         윤소희
11  190111  0132   daum     2         김진아
12  190111  0132   daum     3         txt
13  190111  0132   daum     4         오하영
14  190111  0132   daum     5         김보름
15  190111  0132   daum     6  인도 아랍 에미리트
16  190111  0132   daum     7         손예진
17  190111  0132   daum     8         송재림
18  190111  0132   daum     9         김정훈
19  190111  0132   daum    10         김새론